<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Login</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      rel="stylesheet"
      type="text/css"
      media="screen"
      href="../css/login.css"
    />
  </head>

  <body>
    <div class="table">
      <div class="cell">
        <form id="login">
          <label>Username:</label>
          <input type="text" name="userid" size="18" maxlength="18" />
          <br />
          <label>Password :</label>
          <input type="password" name="pswrd" size="18" maxlength="18" />
          <br />
          <input type="submit" value="Submit" />
          <input type="reset" value="Cancel" value="Reset form" />
          <a href="register.html"><input type="button" value="Create"/></a>
        </form>
      </div>
    </div>
  </body>
</html>
