<div>
    <!-- Start Banner Area -->
    <section class="banner-area relative">
        <div class="container">
            <div class="row d-flex align-items-center justify-content-center">
                <div class="about-content col-lg-12">
                    <h1 class="text-white">
                        Admissions criteria
                    </h1>
                    <p>Disclaimer: While every attempt is made to keep this page up-to-date, please refer to the latest
                        University prospectus (available at http://acad.uohyd.ac.in) for up-to-date-information. In case
                        of any conflict, the information provided in the prospectus shall be considered as authentic</p>
                    <div class="link-nav">
                        <span class="box">
                            <a href="#home">Home </a>
                            <i class="lnr lnr-arrow-right"></i>
                            <a href="#admissions">Admissions</a>
                        </span>
                    </div>
                </div>
            </div>
        </div>
        <div class="rocket-img">
            <img src="img/rocket.png" alt="" />

        </div>
    </section>
    <!-- End Banner Area -->

    <div class="whole-wrap">
        <div class="container">
            <div class="section-top-border">
                <h3 class="mb-30">Programmes</h3>
                <div class="row">
                    <div class="col-md-3">
                        <div class="feature-item">
                            <h4>Programmes</h4>
                            <div class="wow fadeIn" data-wow-duration="1s" data-wow-delay=".1s">
                                <p>
                                    <ul class="unordered-list">
                                        <li class="genric-btn large" onclick="changeContent(1)">Ph. D.</li>
                                        <li class="genric-btn large" onclick="changeContent(2)">Integrated M. Tech</li>
                                        <li class="genric-btn large" onclick="changeContent(3)">M. Tech</li>
                                        <li class="genric-btn large" onclick="changeContent(4)">MCA</li>
                                    </ul>
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-9 mt-sm-20">
                        <div class="feature-item">
                            <!-- <h4 id="heading"></h4> -->
                            <div class="wow fadeIn" data-wow-duration="1s" data-wow-delay=".1s">
                                    <div style='color:black' id="content">
                                        <h2><span style='color: #d82a4e'>Ph.D.</span></h2>
                                        <p>The school has a very vibrant Ph.D programme with more than 60 students
                                            registered currently, both Indian and foreign nationals, as on date and more
                                            than 100 scholars have completed their research till now. As the School
                                            always
                                            has a high priority for research, it strongly encourages fresh and brilliant
                                            students to participate in the above exciting research programmes as
                                            full-time/part-time Ph.D. students. School further offers Visvesvarya PhD
                                            Fellowships (sponsored by DeitY) for supporting brilliant Ph.D. students.
                                            This
                                            is subject to sanction of the Govt. of India (Admission Notice will come as
                                            a
                                            separate advertisement). Further, details can be found at
                                            http://phd.medialabasia.in/. The School is also recognized as an AICTE Minor
                                            QIP
                                            Centre for Ph.D. Programme. Final result of Ph.D selection under QIP for the
                                            year 2018-19 is available at URL http://qip.iitd.ac.in/qipadm2017/result.php
                                        </p>
                                        <br />
                                        <p>Ph.D. programme is offered on full time, part time and external registration
                                            basis as per the university regulations. Candidates who have the required
                                            qualifications and are doing teaching/research in recognized institutions or
                                            researchers from companies registered with STPI/NASSCOM/Central Government
                                            Organizations who operate within the jurisdiction of the University can
                                            apply
                                            for part time admission, which is available during 2018-19. Interested
                                            candidates are advised to study the areas of research from the School and
                                            faculty profiles. Please visit School website http://scis.uohyd.ac.in for
                                            details..</p><br />
                                        <p>Intake:15<br /></p>
                                    </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>