<!-- Start Banner Area -->
<section class="banner-area relative">
  <div class="container">
    <div class="row d-flex align-items-center justify-content-center">
      <div class="about-content col-lg-12">
        <h1 class="text-white">
          Events
        </h1>
        <p>
          Wide range of events happens the school
        </p>
        <div class="link-nav">
          <span class="box">
            <a href="#home">Home </a>
            <i class="lnr lnr-arrow-right"></i>
            <a href="#events">Events</a>
          </span>
        </div>
      </div>
    </div>
  </div>
  <div class="rocket-img">
    <img src="img/rocket.png" alt="" />
  </div>
</section>
<!-- End Banner Area -->

<!--Start Feature Area -->
<section class="feature-area">
  <div class="container">
    <div class="feature-inner row">
      <div class="col">
        <div class="feature-item">
          <div class="wow fadeIn" data-wow-duration="1s" data-wow-delay=".1s">
            <table width="80%">
              <tbody>
                <tr>
                  <td></td>
                </tr>
                <tr>
                  <td></td>
                </tr>
                <tr>
                  <td>
                    <div>
                      <a href="seminars/seminar11june2018.pdf">
                        <h4>
                          <b>
                            Remotely Sensed Image Analysis using Machine
                            Learning Methodologies</b
                          >
                        </h4>
                      </a>
                      Prof. Susmitha Gosh (De) <br />
                      Department of Computer Science &amp; Engineering, Jadavpur
                      University, Kolkata <br />
                      On 11 June, 2018 at 11:00 a. <br />Venue: Seminar Room,
                      SCIS.<br /><br />
                    </div>
                  </td>
                </tr>
                <tr>
                  <td>
                    <div class="main_news">
                      <a href="seminars/prephd9may2018.jpg">
                        <h4>
                          <b>
                            Tamper Detection Techniques for Enhancing Video
                            Surveillance Systems</b
                          >
                        </h4>
                      </a>
                      Pre-Ph.D Seminar of Mrs. Sitara K.<br />14MCPC13.<br />
                      On 09 May, 2018 at 11:00 a.m<br />: Seminar Room, SCIS.<br /><br />
                    </div>
                  </td>
                </tr>
                <tr>
                  <td>
                    <div class="main_news">
                      <a href="seminars/prephd8may2018.jpg">
                        <h4>
                          <b>
                            Novel Techniques for Confidence Based and
                            Multi-Criteria Recommender Systems</b
                          >
                        </h4></a
                      >Pre-Ph.D Seminar of Mr. Venkateswara Rao Kagita<br />14MCPC23.<br />
                      On 08 May, 2018 at 11:00 a.m<br />
                      Venue: Seminar Room, SCIS. <br /><br />
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- End Feature Area -->
