<!-- Start Banner Area -->
<section class="banner-area relative">
    <div class="container">
        <div class="row d-flex align-items-center justify-content-center">
            <div class="about-content col-lg-12">
                <h1 class="text-white">
                    Faculty
                </h1>
                <p>
                    With nearly 93% of the faculty possessing a Ph.D and considerable experience in teaching in
                    conjunction with a relatively young average age of around 45 years, the School rightfully boasts
                    of a faculty profile that is young, vibrant and matching the very best in national and
                    international standards. Some of the faculty are Fellows, Senior Members of prestigious
                    international and national professional societies such as IEEE, TAS, APAS and IETE, and are on
                    various Boards of Studies, Governing Boards, Standing Committees and Editorial Board of
                    Journals. The faculty have won many awards and have been invited to reputed international
                    universities and other institutions. It is reflection of SCIS creative atmosphere and academic
                    credentials that it has been able to attract and retain such a faculty.</p>
                <div class="link-nav">
                    <span class="box">
                        <a href="#home">Home </a>
                        <i class="lnr lnr-arrow-right"></i>
                        <a href="#faculty">Faculty</a>
                    </span>
                </div>
            </div>
        </div>
    </div>
    <div class="rocket-img">
        <img src="img/rocket.png" alt="" />

    </div>
</section>
<!-- End Banner Area -->


<!--Start Feature Area -->
<section class="feature-area">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8">
                <div class="section-title text-center">
                    <h1>Faculty</h1>
                    <p>
                        We have some of the most acheived people teaching at the university.
                    </p>
                </div>
            </div>
        </div>
        <div class="feature-inner row">
            <div class="col-lg-4 col-md-6">
                <div class="feature-item">
                    <i class="ti-medall-alt"></i>
                    <h4>Bapi S. Raju</h4>
                    <div class="wow fadeIn" data-wow-duration="1s" data-wow-delay=".1s">
                        <p>
                            He teaches the courses such as Neural Networks and Pattern Recognition at the university
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="feature-item">
                    <i class="ti-medall-alt"></i>
                    <h4>Salman Abul Moiz</h4>
                    <div class="wow fadeIn" data-wow-duration="1s" data-wow-delay=".3s">
                        <p>
                            He teaches courses such as Software Engineering at the university
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="feature-item">
                    <i class="ti-medall-alt"></i>
                    <h4>Vineeth Nair</h4>
                    <div class="wow fadeIn" data-wow-duration="1s" data-wow-delay=".5s">
                        <p>
                            He teaches the courses such as Machine Learning and Knowledge Representation at the
                            university
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="feature-item">
                    <i class="ti-medall-alt"></i>
                    <h4>P.S.V.S Sai Prasad</h4>
                    <div class="wow fadeIn" data-wow-duration="1s" data-wow-delay=".1s">
                        <p>
                            He teaches the courses such as Rough Computing and Distributed Computing at the
                            university
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="feature-item">
                    <i class="ti-medall-alt"></i>
                    <h4>Rajeev Wanker</h4>
                    <div class="wow fadeIn" data-wow-duration="1s" data-wow-delay=".3s">
                        <p>
                            He teaches the courses such as Parallel Computing and Cloud Computing at the university
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="feature-item">
                    <i class="ti-medall-alt"></i>
                    <h4>Chakravarthy Bhagavathi</h4>
                    <div class="wow fadeIn" data-wow-duration="1s" data-wow-delay=".5s">
                        <p>
                            He teaches the courses such as Image Processing and Colour Image Processing at the
                            university
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Feature Area -->