<!-- Start Banner Area -->
<div>
	<section class="home-banner-area relative">
		<div class="container">
			<div class="row fullscreen d-flex align-items-center justify-content-center">
				<div class="banner-content col-lg-8 col-md-12">
					<h1 class="wow fadeIn">School of Computer & Information
						Sciences,<br>University of Hyderabad</h1>
					<p class="text-white">
						School of Computer and Information Sciences (SCIS) offers high quality postgraduate teaching and
						research in all major areas of Computer and Information Sciences, Artificial Intelligence, and,
						Banking Technology and Information Security. Computer Science programme in University of
						Hyderabad was started in 1983 under the School of Mathematics and Computer/Information Sciences.
						Computer and Information Sciences was carved out as a separate Department under the School of
						Mathematics and Computer/Information Sciences on March 23, 1993. This department became School
						of Computer and Information Sciences on January 22, 2013.
					</p>

					<h4 class="text-white">Top Programs</h4>

					<div class="courses pt-20">
						<a href="#" data-wow-duration="1s" data-wow-delay=".3s"
							class="primary-btn transparent mr-10 mb-10 wow fadeInDown">M. Tech, CS</a>
						<a href="#" data-wow-duration="1s" data-wow-delay=".6s"
							class="primary-btn transparent mr-10 mb-10 wow fadeInDown">M. Tech, AI</a>
						<a href="#" data-wow-duration="1s" data-wow-delay=".9s"
							class="primary-btn transparent mr-10 mb-10 wow fadeInDown">M. Tech, IT</a>
						<a href="#" data-wow-duration="1s" data-wow-delay="1.2s"
							class="primary-btn transparent mr-10 mb-10 wow fadeInDown">I. M.Tech
						</a>
					</div>
				</div>
			</div>
		</div>
		<div class="rocket-img">
			<img src="img/rocket.png" alt="">
		</div>
	</section>
	<!-- End Banner Area -->


	<!-- Start About Area -->
	<section class="about-area section-gap">
		<div class="container">
			<div class="row align-items-center justify-content-center">
				<div class="col-lg-5 col-md-6 about-left">
					<img class="img-fluid" src="img/uoh.jpeg" alt="">
				</div>
				<div class="offset-lg-1 col-lg-6 offset-md-0 col-md-12 about-right">
					<h1>
						Over 50 Courses <br> from 15 Departments
					</h1>
					<div class="wow fadeIn" data-wow-duration="1s">
						<p>
							SCIS epitomizes excellence in all major functions associated with higher learning such as
							teaching, research, student development and curriculum planning. The strengths of the School
							are its quality faculty, innovative and flexible curricula with their unique focus on
							post-graduate education, state-of-the-art research with a remarkably high number of Ph.D
							scholars - both ongoing and recently graduated, and highly open and transparent policies
							that foster a healthy student-faculty interaction. SCIS always stood for innovation and
							leadership in curriculum planning - having one of the oldest (from 1983) and even now one of
							the best MCA programmes; boldly proposing and introducing the M. Tech programme in
							Artificial Intelligence in 1986 to attract the small but growing number of undergraduates in
							computer science; and, in 2002, introducing the unique M. Tech in Information Technology
							(with specialization in Banking Technology and Information Security) in collaboration with
							IDRBT (Institute for Development and Research in Banking Technology, a sister Institute of
							RBI) aimed at bridging the shortfall of trained computer professionals in banking and
							finance industries.
						</p>
					</div>
					<a href="#programmes" class="primary-btn">Explore Courses</a>
				</div>
			</div>
		</div>
	</section>
	<!-- End About Area -->

	<!-- Start Testimonials Area -->
	<section class="testimonials-area section-gap">
		<div class="container">
			<div class="testi-slider owl-carousel" data-slider-id="1">
				<div class="item">
					<div class="testi-item">
						<div class="wow fadeIn" data-wow-duration="1s">
							<img src="img/Login-2016.jpg" alt="">
						</div>
					</div>
				</div>
				<div class="item">
					<div class="testi-item">
						<div class="wow fadeIn" data-wow-duration="1s">
							<img src="img/Login-2017.jpg" alt="">
						</div>
					</div>
				</div>
				<div class="item">
					<div class="testi-item">
						<div class="wow fadeIn" data-wow-duration="1s">
							<img src="img/smartindia2017.jpg" alt="">
						</div>
					</div>
				</div>
				<div class="item">
					<div class="testi-item">
						<div class="wow fadeIn" data-wow-duration="1s">
							<img src="img/sysadmin2018.jpg" alt="">
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!--  End Testimonials Area -->
</div>