<!-- Start Banner Area -->
<section class="banner-area relative">
  <div class="container">
    <div class="row d-flex align-items-center justify-content-center">
      <div class="about-content col-lg-12">
        <h1 class="text-white">
          Latest news
        </h1>
        <p>
          Wide range of events happens the school
        </p>
        <div class="link-nav">
          <span class="box">
            <a href="#home">Home </a>
            <i class="lnr lnr-arrow-right"></i>
            <a href="#latest-news">Latest News</a>
          </span>
        </div>
      </div>
    </div>
  </div>
  <div class="rocket-img">
    <img src="img/rocket.png" alt="" />
  </div>
</section>
<!-- End Banner Area -->

<!--Start Feature Area -->
<section class="feature-area">
  <div class="container">
    <div class="feature-inner row">
      <div class="col">
        <div class="feature-item">
          <div class="wow fadeIn" data-wow-duration="1s" data-wow-delay=".1s">
            <div style="margin-left: 50px;">
              <div style="margin-left: 10px;">
                <h3 style="color:#d82a4e;margin:25px 0;">Latest News</h3>
                <div class="container">
                  <div class="row">
                    <div class="col-lg-2 col-md-2">11 Dec2017</div>

                    <div class="col-lg-10 col-md-10">
                      <span style="color: black"
                        ><b
                          >Jointly organized the 5th International Conference on
                          Big Data Analytics (BDA-2017)</b
                        ></span
                      ><br />
                      From 12 December to 15 December, 2017 at IIIT
                      Hyderabad.<br /><br />
                    </div>
                  </div>
                  <div class="row"></div>
                  <div class="row">
                    <div class="col-lg-2 col-md-2">04 Dec2017</div>

                    <div class="col-lg-10 col-md-10">
                      <span style="color: black"
                        ><b>
                          Organized a 5-day computer programming exercise
                          (Hackweek) for studetns
                        </b></span
                      ><br />
                      From 05 December to 09 December, 2017.<br /><br />
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-lg-2 col-md-2">26 Oct2017</div>

                    <div class="col-lg-10 col-md-10">
                      <span style="color: black"
                        ><b>
                          Workshop on Invesco student connect and a "24-Hour
                          Hackathon"
                        </b></span
                      ><br />
                      From 26 October to 30 October, 2017. <br /><br />
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-lg-2 col-md-2">12 Oct2017</div>

                    <div class="col-lg-10 col-md-10">
                      <span style="color: black"
                        ><b>
                          Organized a Workshop on "topics in Linear Algebra and
                          Machine Learning"
                        </b></span
                      ><br />
                      From 12 October to 13 October, 2017.<br /><br />
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-lg-2 col-md-2">23 Sep2017</div>

                    <div class="col-lg-10 col-md-10">
                      <span style="color: black"
                        ><b
                          >Report of MCA Students Participation in LOGIN-
                          2017</b
                        ></span
                      ><br /><br />
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- End Feature Area -->
