<!-- Start Banner Area -->
<section class="banner-area relative">
  <div class="container">
    <div class="row d-flex align-items-center justify-content-center">
      <div class="about-content col-lg-12">
        <h1 class="text-white">
          Placement Officers
        </h1>
        <p>
          The University of Hyderabad is an Indian Public Research University
          located in Hyderabad, Telangana, India. Founded in 1974, this mostly
          residential campus has more than 5,000 students and 400 faculty, from
          several disciplines.
        </p>
        <div class="link-nav">
          <span class="box">
            <a href="#home">Home </a>
            <i class="lnr lnr-arrow-right"></i>
            <a href="#placements">Placements</a>
          </span>
        </div>
      </div>
    </div>
  </div>
  <div class="rocket-img">
    <img src="img/rocket.png" alt="" />
  </div>
</section>
<!-- End Banner Area -->

<!--Start Feature Area -->
<section class="feature-area">
  <div class="container">
    <div class="feature-inner row">
      <div class="col">
        <div class="feature-item">
          <div class="wow fadeIn" data-wow-duration="1s" data-wow-delay=".1s">
            <div style="margin-left: 50px;">
              <div style="margin-left: 50px;">
                <h3 style="color:#d82a4e;margin:25px 0;">Placement Officers</h3>
                <p style="color: black;">
                  <b style="font-size: 16px;color:blue;">Dr. Rajeev Wankar</b
                  ><br />
                  Chairman, Placement Guidance and Advisory Bureau<br />
                  University of Hyderabad<br />
                  <b>Email:</b>
                  <span style="color:#d82a4e;"> rajeev.wankar@gmail.com</span
                  ><br />
                  <b>Phone:</b> <span style="color:#d82a4e;">9440679869</span
                  ><br />
                </p>
                <p style="color: black;">
                  <b style="font-size: 16px;color:blue;">Dr. Naveen Nekuri</b
                  ><br />
                  Placement Coordinator<br />
                  SCIS, University of Hyderabad<br />
                  <b>Email:</b>
                  <span style="color:#d82a4e;"> nncs@uohyd.ernet.in</span><br />
                  <b>Phone:</b>
                  <span style="color:#d82a4e;">9885280581, 040-66794124</span
                  ><br />
                </p>
                <p style="color: black;">
                  <b style="font-size: 16px;color:blue;">Dr G. R. Gangadharan</b
                  ><br />
                  Placement Coordinator<br />
                  IDRBT, Hyderabad<br />
                  <b>Email:</b>
                  <span style="color:#d82a4e;"> grgangadharan@idrbt.ac.in</span
                  ><br />
                  <b>Phone:</b> <span style="color:#d82a4e;">07799833300</span
                  ><br />
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- End Feature Area -->
