<!-- Start Banner Area -->
<section class="banner-area relative">
    <div class="container">
        <div class="row d-flex align-items-center justify-content-center">
            <div class="about-content col-lg-12">
                <h1 class="text-white">
                    Programmes offered by the Department
                </h1>
                <p>The unique combination of quality teaching of core concepts and cutting edge electives by
                    excellent faculty, exposure to the latest technologies and research leading to publications in
                    major journals/conferences and accessibility to high-end computing facilities including
                    supercomputers in a completely open informal atmosphere make SCIS a torch-bearer for
                    postgraduate education in computer science in India.</p>
                <div class="link-nav">
                    <span class="box">
                        <a href="#home">Home </a>
                        <i class="lnr lnr-arrow-right"></i>
                        <a href="#programmes">Programmes</a>
                    </span>
                </div>
            </div>
        </div>
    </div>
    <div class="rocket-img">
        <img src="img/rocket.png" alt="">

    </div>
</section>
<!-- End Banner Area -->


<!--Start Feature Area -->
<section class="feature-area">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8">
                <div class="section-title text-center">
                    <h1>Programmes of Study</h1>
                    <p>
                        The school offers five different programmes of study leading to: Ph.D. in Computer Science,
                        five year Integrated M.Tech. in Computer Science, M.Tech. (Computer Science), M.Tech.
                        (Artificial Intelligence), M.Tech. (Information Technology) with specialization in Banking
                        Technology & Information Security, in collaboration with IDRBT and M.C.A. In addition, the
                        school also contributes and supports the M.Tech. (Computational Techniques) of School of
                        Physics, 5-year Integrated M.A. and M.Sc. courses .
                    </p>
                </div>
            </div>
        </div>
        <div class="feature-inner row">
            <div class="col-lg-4 col-md-6">
                <div class="feature-item">
                    <h4>Ph.D. Programme</h4>
                    <div class="wow fadeIn" data-wow-duration="1s" data-wow-delay=".1s">
                        <p>
                            The candidates admitted to Ph.D. programme in the School will be governed by the
                            following rules:
                            All candidates admitted to Ph.D. in the School, whether full time, part time or
                            external, are required to complete the course work.. Initial admission is
                            provisional and subject to candidate passing the course work. In case a
                            candidate is unable to pass the course work within 1 year, his/her admission
                            stands automatically cancelled.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="feature-item">
                    <h4>5- Year Integrated M.Tech Programme</h4>
                    <div class="wow fadeIn" data-wow-duration="1s" data-wow-delay=".3s">
                        <p>
                            <ul class="unordered-list">
                                The School has introduced a 5-year Integrated M.Tech. programme in Computer Science
                                with effect from the academic year 2014-15. The students will be awarded MTech(CS)
                                degree at the end of five years. It is to be noted that there is no exit option.
                                This programme is intended to provide a high quality computer science education with
                                a curriculum that is state-of-the-art. The School boasts of a very low
                                student-teacher ratio that allows faculty to give individual attention to students.
                            </ul>
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="feature-item">
                    <h4>Master of Technology in Computer Science</h4>
                    <div class="wow fadeIn" data-wow-duration="1s" data-wow-delay=".5s">
                        <p>
                            M.Tech Computer Science Programme is a four-semester course including two semesters of
                            course work and two semesters of project work. This programme is meant for graduates in
                            engineering disciplines and postgraduates in related sciences and as such it includes
                            both fundamental topics and advanced topics for specialisation.This programme offers
                            core courses of computer science like Operating Systems, Computer Architecture,
                            Algorithms, Software Engineering at an advanced level.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="feature-item">
                    <h4>Master of Technology in Artificial Intelligence</h4>
                    <div class="wow fadeIn" data-wow-duration="1s" data-wow-delay=".1s">
                        <p>
                            M.Tech Artificial Intelligence is also a four-semester course including two semesters of
                            course work and two semesters of project work. This programme is meant for students
                            already well equipped in computing sciences and as such imparts advanced training in all
                            the major areas of artificial intelligence and other emerging technologies, such as
                            machine learning, data mining, etc.
                            This programme is meant for students already well equipped in computing sciences and
                            imparts advanced training in all the major areas of artificial intelligence and other
                            emerging technologies, such as Knowledge Representation and Reasoning, Machine Learning,
                            Computational Intelligence etc.

                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="feature-item">
                    <h4>Master of Technology in Information Technology</h4>
                    <div class="wow fadeIn" data-wow-duration="1s" data-wow-delay=".3s">
                        <p>
                            M.Tech Information Technology is a four-semester programme including two semesters of
                            course work and two semesters of project work meant for graduates in engineering
                            discipline and postgraduates in related sciences. This unique M.Tech programme in
                            Information Technology with specialization in Banking Technology and Information
                            Security. This programme aims at imparting in-depth knowledge and state-of- art
                            expertise to the students through innovative learning supported by high calibre research
                            and technology leadership to create a pool of responsible and resourceful IT
                            professionals, in particular, for the financial-banking sector.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="feature-item">
                    <h4>Master of Computer Applications</h4>
                    <div class="wow fadeIn" data-wow-duration="1s" data-wow-delay=".5s">
                        <p>
                            M.C.A. Programme aims to prepare graduates in all the major areas of computer science,
                            relevant aspects of mathematics and management so that they can take up both technical
                            and managerial positions in industry. training is rigorous and involves five semesters
                            of course work and one semester of project work. MCA students of earlier batches have
                            been offered internships at companies such as IBM, GE, Microsoft, CA, CMC, Honeywell
                            etc. and are thus provided an opportunity to learn in industry environment during their
                            last semester. The university has recently been ranked 3rd in universities in India for
                            the MCA programme.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Feature Area -->