<div>
  <!-- Start Banner Area -->
  <section class="banner-area relative">
    <div class="container">
      <div class="row d-flex align-items-center justify-content-center">
        <div class="about-content col-lg-12">
          <h1 class="text-white">
            Syllabus
          </h1>
          <p>
            Disclaimer: While every attempt is made to keep this page
            up-to-date, please refer to the latest University prospectus
            (available at http://acad.uohyd.ac.in) for up-to-date-information.
            In case of any conflict, the information provided in the prospectus
            shall be considered as authentic
          </p>
          <div class="link-nav">
            <span class="box">
              <a href="#home">Home </a>
              <i class="lnr lnr-arrow-right"></i>
              <a href="#syllabus">Syllabus</a>
            </span>
          </div>
        </div>
      </div>
    </div>
    <div class="rocket-img">
      <img src="img/rocket.png" alt="" />
    </div>
  </section>
  <!-- End Banner Area -->

  <div class="whole-wrap">
    <div class="container">
      <div class="section-top-border">
        <h3 class="mb-30">Programmes</h3>
        <div class="row">
          <div class="col-md-3">
            <div class="feature-item">
              <h4>Programmes</h4>
              <div
                class="wow fadeIn"
                data-wow-duration="1s"
                data-wow-delay=".1s"
              >
                <ul class="unordered-list">
                  <li class="genric-btn large" onclick="changeSyllabus(1)">
                    M.Tech, M.C.A & Int. 5 yr M.Tech
                  </li>
                  <li class="genric-btn large" onclick="changeSyllabus(2)">
                    Ph. D.
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <div class="col-md-9 mt-sm-20">
            <div class="feature-item">
              <!-- <h4 id="heading"></h4> -->
              <div
                class="wow fadeIn"
                data-wow-duration="1s"
                data-wow-delay=".1s"
              >
                <div id="content"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
