<!-- Start Banner Area -->
<section class="banner-area relative">
  <div class="container">
    <div class="row d-flex align-items-center justify-content-center">
      <div class="about-content col-lg-12">
        <h1 class="text-white">
          Visiting Faculty
        </h1>
        <p>
          With nearly 93% of the faculty possessing a Ph.D and considerable
          experience in teaching in conjunction with a relatively young average
          age of around 45 years, the School rightfully boasts of a faculty
          profile that is young, vibrant and matching the very best in national
          and international standards. Some of the faculty are Fellows, Senior
          Members of prestigious international and national professional
          societies such as IEEE, TAS, APAS and IETE, and are on various Boards
          of Studies, Governing Boards, Standing Committees and Editorial Board
          of Journals. The faculty have won many awards and have been invited to
          reputed international universities and other institutions. It is
          reflection of SCIS creative atmosphere and academic credentials that
          it has been able to attract and retain such a faculty.
        </p>
        <div class="link-nav">
          <span class="box">
            <a href="#home">Home </a>
            <i class="lnr lnr-arrow-right"></i>
            <a href="#visitors">Visitors</a>
          </span>
        </div>
      </div>
    </div>
  </div>
  <div class="rocket-img">
    <img src="img/rocket.png" alt="" />
  </div>
</section>
<!-- End Banner Area -->

<div class="section-gap">
  <div style="margin-left: 250px;border: solid black;width:75%;">
    <table
      width="90%"
      cellspacing="0"
      cellpadding="0"
      border="0"
      style="margin: 20px;"
    >
      <tbody>
        <tr class="prof_head">
          <td colspan="2">
            <font size="+1" face="verdana" color="9B7246">
              <div class="arrow_box">
                <h3>Visiting Professors (Present)</h3>
              </div>
            </font>
          </td>
        </tr>

        <tr>
          <td colspan="2">
            <hr color="#a19774" />
          </td>
        </tr>
        <tr class="td_faculty">
          <td width="64%">
            <br /><b>Dr.Dominik Slezak</b>&nbsp;&nbsp;&nbsp;&nbsp; |
            <a href="www.roughsets.org/fellows/dominik-slezak/">Homepage</a>
          </td>
          <td width="36%" align="right"><br /></td>
        </tr>
        <tr>
          <td>
            <p>
              <font size="-1"
                >University of Warsaw and Chief Scientist at Infobright Inc.,
                Poland.
              </font>
            </p>
          </td>
          <td valign="top" align="right">
            <font color="F14E23"><br /></font><br />
          </td>
        </tr>

        <tr>
          <td colspan="2">
            <hr color="#a19774" />
          </td>
        </tr>
        <tr class="td_faculty">
          <td width="64%">
            <br /><b>Dr.Satish Narayana Srirama</b>&nbsp;&nbsp;&nbsp;&nbsp; |
            <a href="http://kodu.ut.ee/~srirama/">Homepage</a>
          </td>
          <td width="36%" align="right"><br />Phone: +372 737 6422</td>
        </tr>
        <tr>
          <td>
            <p>
              <font size="-1"
                >Professor, Head of Mobile &amp; Cloud Lab, Institute of
                Computer Science, <br />University of Tartu, Estonia. <br />
              </font>
            </p>
          </td>
          <td valign="top" align="right">
            <font color="F14E23"><br />satish.srirama@ut.ee</font><br />
          </td>
        </tr>

        <tr>
          <td colspan="2">
            <hr color="#a19774" />
          </td>
        </tr>
        <tr class="td_faculty">
          <td width="64%">
            <br /><b>Dr.Rajkumar Buyya</b>&nbsp;&nbsp;&nbsp;&nbsp; |
            <a
              href="http://www.cis.unimelb.edu.au/people/staff.php?person_ID=7930"
              >Homepage</a
            >
          </td>
          <td width="36%" align="right"><br />Phone: +61 3 83441344</td>
        </tr>
        <tr>
          <td>
            <p>
              <font size="-1">
                Professor, Director of the Cloud Computing and Distributed
                Systems (Clouds) Laboratory</font
              ><br />
              Melbourne School of Engineering, Computing and Information
              Sciences
              <br />
              University of Melbourne, Australia.
              <br />
            </p>
          </td>
          <td valign="top" align="right">
            <font color="F14E23"><br />rbuyya@unimelb.edu.au</font><br />
          </td>
        </tr>
        <tr>
          <td colspan="2">
            <hr color="#a19774" />
          </td>
        </tr>
        <tr class="td_faculty">
          <td>
            <b><br />Dr. Andre Rossi</b>&nbsp;&nbsp;&nbsp;&nbsp;|
            <a href="http://www.info.univ-angers.fr/~rossi/">Homepage</a>
          </td>
          <td align="right"><br />Phone: +33 241735220</td>
        </tr>
        <tr>
          <td>
            <p>
              <font size="-1">Professor of Operations Research</font><br />
              Head of the Department of Computer Science <br />University of
              Angers, France.
            </p>
          </td>
          <td valign="top" align="right">
            <font color="F14E23"
              ><br />
              andre.rossi@univ-angers.fr</font
            ><br />
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
